doctrine:
    dbal:
        url: '%env(DATABASE_URL)%'

    orm:
        auto_generate_proxy_classes: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        controller_resolver:
            auto_mapping: true
        mappings:
            Mact:
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'Mact\Entity'
                alias: Mact*
        filters:
            softdeletable:
                class: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
                enabled: true

when@test:
    doctrine:
        dbal:
            url: '%env(DATABASE_URL)%'

when@prod:
    doctrine:
        orm:
            auto_generate_proxy_classes: false
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
